@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar{
    width: 0.3vw;
}
html::-webkit-scrollbar-thumb{
    background-color: white;
}
html::-webkit-scrollbar{
    background-color: black;
}

#mytext1 .char{
    transform: translateY(190px);
    
    
}
#mytext2 .char{
    transform: translateY(190px);
    
    
    
    transition: transform 0s 0.01s ;
    
}
#mytext1{
    clip-path: inset(0 0 0 0 round 0%);

}
#mytext2{
    clip-path: inset(0 0 0 0 round 0%);

}

@layer components {



.myContainer{
    @apply  xsm:w-[380px] sm:w-[620px] md:w-[740px] lg:w-[980px] xl:w-[1240px]  2xl:w-[1440px] mx-auto  ;
}


}
