@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar{
    width: 0.3vw;
}
html::-webkit-scrollbar-thumb{
    background-color: white;
}
html::-webkit-scrollbar{
    background-color: black;
}

#mytext1 .char{
    transform: translateY(140px);
    transition: transform .5s;
    transition: opacity .4s;
    opacity: 0;
}
#mytext2 .char{
    transform: translateY(140px);
    transition: transform .5s;
    
    transition: opacity .4s .4s;
    opacity: 0;
}
#mytext1{
    clip-path: polygon(0 0,100% 0, 100% 100%,0% 100%)

}
#mytext2{
    clip-path: polygon(0 0,100% 0, 100% 100%,0% 100%)

}

@layer components {

#react{
    @apply  top-1/2 left-1/2 absolute;
}


}
