@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar{
    width: 0.3vw;
}
html::-webkit-scrollbar-thumb{
    background-color: white;
}
html::-webkit-scrollbar{
    background-color: black;
}




.line{
    clip-path: inset(0 0 0 0 round 0%);
}


@layer components {



.myContainer{
    @apply  xsm:w-[380px] sm:w-[620px] md:w-[740px] lg:w-[980px] xl:w-[1240px]  2xl:w-[1440px] mx-auto  ;
}


}
